{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Welcome to the Django Template</h1>

    <!-- <img src="{% static 'images/django.webp' %}" alt="" width="400"> -->

    <!-- Bootstrap table -->
    <table class="table table-striped table-bordered table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Photo</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <!-- <td>{{ emp.id }}</td> -->
                <td>{{ emp.f_name }}</td>
                <td>{{ emp.l_name }}</td>
                <td>
                    <img src="{{ emp.photo.url }}" alt="Photo" width="100" class="img-thumbnail">
                </td>
                <td>{{ emp.designation }}</td>
                <td>{{ emp.email_address }}</td>
                <td>{{ emp.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>